.main_cart_container {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px 0px;
}

.cart_container {
    padding: 20px 0px;
    height: 200px;
}

.item_name {
    font-size: 18px;
    font-weight: 600;
}

.item_detail {
    font-size: 15px;
    margin-bottom: 0;
}

.item_img {
    width: 150px;
    height: 150px;
}

.btn_quantity {
    width: 50px !important;
    height: 30px !important;
    border: 1px solid #ccc !important;
    outline: none !important;
}

.quantity {
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
}

.summary_cart {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    height: 400px;
}

.btn_change {
    border: none;
    outline: none !important;
    background-color: transparent;
    color: blue;    
    width: 20px;
    padding: 0;
}

.modal_container {
    z-index: 10;
}