.chat_container {
    width: 100%;
    height: auto;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    position: relative;
}

.chat_username {
    font-size: 20px;
    color: #525252;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-left: 20px;
}

.chat_text {
    background-color: #e0e0e0;
    padding: 5px 40px;
    font-size: 15px;
    border-radius: 5px;
}

.inp_send_message {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.inp_message {
    width: 90% !important ;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: none;
    padding: 5px 30px;
}

.btn_send {
    width: 10%;
    padding: 5px;
}