.footer {
    height: auto;
    background-color: #525659;
}

:focus {
    outline: none !important;
}

.footer_head {
    color: white;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn_social {
    background-color: rgb(204, 90, 90)  !important;
}

.social_icon {
    color: white;
}

.support {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
}

.support:hover {
    color: rgb(180, 177, 177);
}

.img_footer {
    width: 100%;
    height:400px;
}